$primary-red400: hsl(0, 100%, 74%);
$primary-green400: hsl(154, 59%, 51%);

$accent-purple: hsl(248, 32%, 49%);

$neutral-gray900: hsl(249, 10%, 26%);
$neutral-purple350: hsl(246, 25%, 77%);

$font-family: "Poppins";
$weight400: 400;
$weight500: 500;
$weight600: 600;
$weight700: 700;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
